<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : NotableFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130623

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ProNet</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{STATIC_URL}}default.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{STATIC_URL}}fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>
<script type="text/javascript">var i=2;</script>
</head>
<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#" class="icon icon-leaf"><span>pro<font color="#000000">Net</font></span></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
					<li><a href="#" accesskey="2" title="">Search</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>Welcome to proNet</h2>
				<span class="byline">Location Based Social Network in the domain of Professional Interests</span> </div>
			<p>Please Enter Your Interest </p>
			<form name="intrstsub" method="post" action="intrst.php">
				<div id="interests">
					<p>Interest 1 <input type="text" name="inp1"/></p>
				</div>
				<p><input type="button" name="btadd" value="Add More Fields" id="btadd"/></p>
				<p><input type="submit" name="submit" value="Submit"/></p>
			</form>

		</div>

	</div>
</div>
<div id="portfolio-wrapper">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>proNet</h2>
		</div>
		<p class="description">Never be alone in a new place, ever..</p>
	</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c)  Yahoo Open Hack 2013</p>
</div>

<script type="text/javascript">
YUI().use('node','event',function(Y){
	var button = Y.one('#btadd');
	button.on("click",function(e){
		var divNode = Y.one('#interests');
		var createTxt = Y.Node.create('<p>Interest '+(i)+' <input type="text" name="inp'+(i++)+'"/></p>');
		divNode.append(createTxt);
	});	
});
</script>
</body>
</html>
