<html>
<head>
</head>
<body>

							<input name="Open Source Technologies" type="checkbox" value="IsInterestedB" id="Open Source Technologies" />
                        	Open Source Technologies<br />
                            <input name="Linux/Unix" type="checkbox" value="IsInterestedC" id="Linux/Unix" />
                        	Linux/Unix<br />
                            <input name="Web Development" type="checkbox" value="IsInterestedD" id="Web Development" />
                        	Web Development<br />
                            <input name="Frameworks/CMS" type="checkbox" value="IsInterestedE" id="Frameworks/CMS" />
                        	Frameworks/CMS<br />
                            <input name="Hacking" type="checkbox" value="IsInterestedF" id="Hacking" />
                        	Hacking<br />
                            <input name="Competitive Programming" type="checkbox" value="IsInterestedG" id="Competitive Programming" />
                        	Competitive Programming<br />
                            <input name="Hardware" type="checkbox" value="IsInterestedH" id="Hardware" />
                        	Hardware<br />
                            <input name="Business Development" type="checkbox" value="IsInterestedI" id="Business Development" />
                        	Business Development<br />
                            <input name="Cyber Security" type="checkbox" value="IsInterestedJ" id="Cyber Security" />
                        	Cyber Security<br />
							
</body>
</html>                            