<html>
<h3>Enter your interests Here</h3>
<form>
High School:<br/>
<input type="text" name="highschool"/><br/>
College: <br/>
<input type="text" name="college"/></br>
Organisation: <br/>
<input type="text" name="organisation"/></br>
Work Experience :<br/>
<input type="number" name="workexperience"/></br>
Programming Languages Known :
<select>
  <option value="volvo">C++</option>
  <option value="saab">C</option>
  <option value="opel">Java</option>
  <option value="audi">Python</option>
</select>
</form>
</html>